.navbar-brand{
    color: white!important;
    font-weight: bold;
}
.nav-link{
    color: white!important;
}
.nav-link:hover{
    color: greenyellow!important;
}
.login a{
    text-decoration: none;
    color: forestgreen;
}
.logout a{
    text-decoration: none;
    color: forestgreen;
}

.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.profile button{

      border: 1px solid black;

      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: greenyellow;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;


}

.profile button a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

