{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container">
    <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h3 style="text-align: center;">User Login</h3>
        <br>
        {% include 'message.html' %}
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                {{ form.username }}
            </div> <!-- form-group// -->


            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {{ form.password }}
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login </button>
            </div> <!-- form-group// -->
            <p class="text-center">Need an account? <a href="{% url 'register' %}">Click here</a> </p>
{#            <p class="text-center">Forgot password? <a href="{% url '' %}">Click here</a> </p>#}
    </form>
    </article>
</div> <!-- card.// -->

</div>
<!--container end.//-->

{% endblock content %}